In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv("Data/data_seed4_mm1000_me01_mi01_sdm0_sde0_sdi0outlier_counts.csv")
df_1['Seed'] = "4"
df_2 = pd.read_csv("Data/data_seed8_mm1000_me01_mi01_sdm0_sde0_sdi0_outlier_counts.csv")
df_2['Seed'] = "8"
df_3 = pd.read_csv("Data/data_seed16_mm1000_me01_mi01_sdm0_sde0_sdi0_outlier_counts.csv")
df_3['Seed'] = "16"
df_4 = pd.read_csv("Data/data_seed32_mm1000_me01_mi01_sdm0_sde0_sdi0_outlier_counts.csv")
df_4['Seed'] = "32"
df_5 = pd.read_csv("Data/data_seed64_mm1000_me01_mi01_sdm0_sde0_sdi0_outlier_counts.csv")
df_5['Seed'] = "64"
df_6 = pd.read_csv("Data/data_seed128_mm1000_me01_mi01_sdm0_sde0_sdi0_outlier_counts.csv")
df_6['Seed'] = "128"
df_7 = pd.read_csv("Data/data_seed256_mm1000_me01_mi01_sdm0_sde0_sdi0_outlier_counts.csv")
df_7['Seed'] = "256"
df_8 = pd.read_csv("Data/data_seed512_mm1000_me01_mi01_sdm0_sde0_sdi0_outlier_counts.csv")
df_8['Seed'] = "512"
df_9 = pd.read_csv("Data/data_seed1024_mm1000_me01_mi01_sdm0_sde0_sdi0_outlier_counts.csv")
df_9['Seed'] = "1028"

df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7], axis = 0)
df

    S.D.  Counts Seed
0    0.5    1069    4
1    0.6    1040    4
2    0.7     984    4
3    0.8     860    4
4    0.9     801    4
..   ...     ...  ...
21   2.6       7  256
22   2.7       1  256
23   2.8       0  256
24   2.9       0  256
25   3.0       0  256

[182 rows x 3 columns]

In [3]:
df.sort_values(by="S.D.")

    S.D.  Counts Seed
0    0.5    1069    4
0    0.5    1076   64
0    0.5     796   32
0    0.5     951  128
0    0.5     931   16
..   ...     ...  ...
25   3.0      10   16
25   3.0      11   64
25   3.0       6    8
25   3.0       0   32
25   3.0       0  256

[182 rows x 3 columns]

In [4]:
df.to_csv("CUSTOM_INSTABILITY_CONTROLGROUP_N.csv", index = False)